<header class="main-header">
  <div class="header-dex">
    <img src="assets/mario.png" alt="Mario" class="logo-pequeno">
    <h1>MarioDex</h1>
  </div>
  <h2>Enciclopedia coleccionable del universo Mario Bros.</h2>
</header>

<!-- Modal -->
<button (click)="abrirModal()" class="btn-abrir">
  Añadir Personaje
</button>
<div class="modal-fondo" *ngIf="modalAbierto">
  <div class="modal-contenido">
    <app-nuevo-personaje></app-nuevo-personaje>
    <button (click)="cerrarModal()" class="btn-abrir">Cerrar</button>
  </div>
</div>

<div class="pokedex-container">
  <div class="pokemon-list">
    <div class="pokemon-card" *ngFor="let p of personajes">

      <h3>{{ p.nombre }}</h3>
      <p>Tipo:  {{ p.tipo }}</p>
      <p>Poder: {{p.poder}}</p>
      <p>Mundo: {{p.mundo}}</p>

      <button (click)="eliminarPokemon(p.id)">
        Eliminar ❌
      </button>

    </div>
     <p *ngIf="personajes.length === 0">
      No hay personajes todavía 🍄
    </p>
  </div>
</div>



